
.nav-link{
    /* color:#84909b ; */
    /* color: #c49a69; */
    color: #d2b74e;
    font-weight: 500;
    
  }
.line-cd{
    border-bottom:1px solid #d2b74e;
  }
 .main-title{
    font-family:'Skranji', 'Noto Sans TC',cursive,sans-serif;
    line-height: 1.5;
 }
 .date-item{
  li{
    width: 15%;
    
    margin: 12px;
  }
  a{
    width: 100%;
    text-decoration: none;
    display: inline-block;
    color:#5b4730;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    /* background-color: #c8baa7; */
    // background-color:#dcd3b2;
    border-radius: 8px;
    font-weight: 700; 
    border:3px dotted transparent;
  }
  
 }
  
  .date-item :nth-child(odd) a{
    background-color: #dcd3b2;
  }
  .date-item :nth-child(even) a{
    background-color: #f5deb3;
  }
  .date-item a:hover{
    border:3px dotted #deb887;
    background-color: transparent;
  }

  
  .content{
    height: 100%;
  } 
  .hp-img img:hover{
    animation: shake .1s linear infinite alternate ;
  }

  .rotate5:hover{
    transform:rotate(10deg);
  }
  .rotate-5:hover{
    transform:rotate(-10deg);
  }
  @keyframes shake {
    0%{ transform: rotate(-2deg);}
    100%{ transform: rotate(2deg);}
    
  }

//  lesson

  .lesson-title{
    padding:12px 36px;
    padding-left: 48px;
    align-items: center;
    background-color: #f8f9fa;
    background-color:#e2ded6;
    font-weight: 700; 
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    position: relative;
    &::after{
      position: absolute;
      font: var(--fa-font-solid);
      content:"\f107" ;
      right: 10%;  
      color: #f0815c;
      transition: all 0.5s;
      font-size: 20px;
      transform: rotate(0);
    }
    span{
      margin-right: 24px;
    }
    
    p{
      margin: 0;
      position: absolute;
    }
  }
  

  .lesson-body{
    transition: all .5s ease;
    max-height: 0;
    overflow: hidden;  
   & :last-child{
    border-radius:0 0 5px 5px;
   }
    li{
      border:  1px solid #dee2e6;
      padding: 12px;
      padding-left: 48px;
      background-color: #f8f9fa;
      &:hover{
        background-color: #ebebfc;
        
      }
    }
    
    
  }
  
  .icon-up{
    &::after{
      transform: rotate(540deg);
    }
  }



//   page2

  .date-item2{
    li{
      width: 40%;
    }
    a{
    width: 100%;
    text-decoration: none;
    text-align: center;
    display:inline-block;
    color:#5b4730;
    border:3px solid transparent;
    background-color:#f7e9c5;
    border-radius: 4px;
    font-weight: 700; 
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
    &:hover{
      border:3px dashed #eacc6f;
      background-color: transparent;
     }
  }
    
  }
  